* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: "Oswald" sans-serif;
}

body {
    overflow-x: hidden;
}

#map { height: 100vh;
width: 100%; }

.main-container {
    background-color:#D5E8EB;
    padding: 20px 5px 0px 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container  h1{
text-align: center;
font-family: "Oswald" sans-serif;
}

/*leyenda*/
.legend-horizontal {
    position: fixed;
    bottom: 200px;
    left: 10px;
    width: 300px;
    background: white;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font: 14px Arial, Helvetica, sans-serif;
}
.legend-horizontal .gradient-bar {
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, #034e7b, #0570b0, #3690c0, #74a9cf, #a6bddb, #d0d1e6, #ece7f2, #fff7fb, #000000);
}
.legend-horizontal .labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.legend-horizontal .labels span {
    font-size: 12px;
}
.legend-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
/*Media query*/
@media (max-width: 600px) {
    .legend-horizontal {
        width: 100%;
        left: 5%;
        bottom: 230px;
        padding: 8px;
    }
    .legend-title {
        font-size: 12px;
    }
    .legend-horizontal .labels {
        font-size: 8px;
    }
}
/* footer*/ 
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #040b14;
    color: #f4f6fd;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer img {
width: 20px;
margin: 0px 10px;
}

.message  {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    padding: 10px 10px 5px 10px;
    font-size: 12px;
}
.message a {
    color: #000000;
    font-weight: 700;
}
